/* body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

:root {
  /* Colors */
  --off-white: #fafaf5;
  --off-black: #3a3a3a;
  --light-green: #d9e0d6;
}

* {
  font-family: "Inter";
  font-style: normal;
  background-color: var(--off-white);
  color: var(--off-black);
}

.FamilyTree {
  /* Family Tree */

  position: absolute;
  width: 70vw;
  height: 20vh;
  left: 3vw;
  top: 4vh;

  font-weight: 400;
  font-size: 4vw;
  /*line-height: 116px;*/
}

.Info_background {
  /* Info Box background */
  position: sta;
  background: var(--light-green);
  border: 2px solid var(--off-black);

  margin-bottom: 2vh;
  justify-items: center;

  width: 90vw;
  margin-left: 5vw;

  /* font-weight: 400; */
  /* font-size: 4vw; */
}

.Info_par {
  /* Info */

  background: var(--light-green);
  /* border: 2px solid #000000; */

  /* font-weight: 400; */
  /* font-size: 4vw; */
}

.Person_0 {
  /* Person in generation 0 */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 0px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_0m {
  /* Person in generation 0, by marriage */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 20px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_1 {
  /* Person in generation 1 */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 40px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_1m {
  /* Person in generation 0, by marriage */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 60px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_2 {
  /* Person in generation 2 */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 80px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_2m {
  /* Person in generation 2, by marriage */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 100px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_3 {
  /* Person in generation 3 */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 120px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_3m {
  /* Person in generation 3, by marriage */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 140px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_4 {
  /* Person in generation 4 */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 160px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_4m {
  /* Person in generation 4, by marriage */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 180px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_5 {
  /* Person in generation 5 */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 200px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_5m {
  /* Person in generation 5, by marriage */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 220px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_6 {
  /* Person in generation 6 */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 240px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_6m {
  /* Person in generation 6, by marriage */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 260px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_7 {
  /* Person in generation 7 */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 280px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_0:hover,
.Person_0m:hover,
.Person_1:hover,
.Person_1m:hover,
.Person_2:hover,
.Person_2m:hover,
.Person_3:hover,
.Person_3m:hover,
.Person_4:hover,
.Person_4m:hover,
.Person_5:hover,
.Person_5m:hover,
.Person_6:hover,
.Person_6m:hover,
.Person_7:hover {
  font-weight: bold;
}

@media (max-width: 980px) {
  .person {
    height: 8vh;
  }
}
@media (max-width: 530px) {
  .person {
    height: 12vh;
  }
}
