/* body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

:root {
  /* Colors */
  --off-white: #fafaf5;
  --off-black: #3a3a3a;
  --light-green: #d9e0d6;
}

* {
  font-family: "Inter";
  font-style: normal;
  background-color: var(--off-white);
  color: var(--off-black);
}

.FamilyTree {
  /* Family Tree */

  position: absolute;
  width: 70vw;
  height: 20vh;
  left: 3vw;
  top: 4vh;

  font-weight: 400;
  font-size: 4vw;
  /*line-height: 116px;*/
}

.Info_background {
  /* Info Box background */
  position: static;
  background: var(--light-green);
  border: 2px solid var(--off-black);

  margin-bottom: 2vh;
  justify-items: center;
  padding-left: 2vw;
  padding-right: 2vw;

  width: 90%;
  margin-left: 5%;

  /* font-weight: 400; */
  /* font-size: 4vw; */
}

.Info_par {
  /* Info */

  background: var(--light-green);
  /* border: 2px solid #000000; */

  /* font-weight: 400; */
  /* font-size: 4vw; */
}

.person {
  position: static;
  min-width: fit-content;
  height: 4vh;
  min-height: max-content;
  padding-bottom: 1vh;
}
.person:hover {
  font-weight: bold;
  cursor: pointer;
}

.Person_0 {
  /* Person in generation 0 */
  position: static;
  width: 100vw;
  height: 4vh;
  margin-left: 0px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_0m {
  /* Person in generation 0, by marriage */
  margin-left: 20px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_1 {
  /* Person in generation 1 */
  margin-left: 40px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_1m {
  /* Person in generation 0, by marriage */
  margin-left: 60px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_2 {
  /* Person in generation 2 */
  margin-left: 80px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_2m {
  /* Person in generation 2, by marriage */
  margin-left: 100px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_3 {
  /* Person in generation 3 */
  margin-left: 120px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_3m {
  /* Person in generation 3, by marriage */
  margin-left: 140px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_4 {
  /* Person in generation 4 */
  margin-left: 160px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_4m {
  /* Person in generation 4, by marriage */
  margin-left: 180px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_5 {
  /* Person in generation 5 */
  margin-left: 200px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_5m {
  /* Person in generation 5, by marriage */
  margin-left: 220px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_6 {
  /* Person in generation 6 */
  margin-left: 240px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_6m {
  /* Person in generation 6, by marriage */
  margin-left: 260px;

  /* font-weight: 400;
  font-size: 4vw; */
}

.Person_7 {
  /* Person in generation 7 */
  margin-left: 280px;

  /* font-weight: 400;
  font-size: 4vw; */
}

/* @media (max-width: 1155px) {
  * {
    font-size: 0.95rem;
  }
}
@media (max-width: 1060px) {
  .person {
    height: 6vh;
  }
}*/
@media (max-width: 650px) {
  * {
    font-size: 0.9rem;
  }
} 
